<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/assets/external/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/external/bootstrap-icons.css">
        <link rel="stylesheet" href="/assets/ieee.css">
        <link rel="icon" href="/favicon.ico"/>

        <meta name="description" content="The official website of the Purdue IEEE Student Branch">
        <meta name="author" content="Purdue IEEE">

        <title>Purdue IEEE</title>

        <script src="/assets/external/bootstrap.bundle.min.js"></script>
        <script src="/assets/external/vue2.min.js"></script>
        <script src="/assets/include.js"></script>

    </head>
    <body>
    <div id="app">
        <ieee-header head="Purdue IEEE" page="Join"></ieee-header>

        <main>
            <!-- join_header -->
            <div class="pt-5 my-5 container-lg">
                <div class="row flex-wrap-reverse text-center">
                    <div class="col-lg-9">
                        <h1 class="display-3 fw-bold">Joining Purdue IEEE is easier than ever!</h1>
                        <p class="fs-4">To join, simply attend any committee meeting and pay dues. For a list of committees, see the home page. For a list of meetings, see the calendar.</p>
                        <p class="fs-4">We recommend joining our Slack to stay in contact.</p>
                    </div>
                    <div class="col-lg-3">
                        <img src="/images/pieee_logo.png" class="img-fluid" width="500" height="500" alt="Purdue IEEE Logo">
                    </div>
                </div>
            </div>
            <!-- /join_header -->

            <noscript>
                <br>
                <div class="container-lg lead fs-2 text-center">
                Hi there! Your browser does not allow JavaScript to run on this site. You may have a degraded experience
                navigating around our website. You can view the contents of any script on this site at our GitHub,
                <a href="https://github.com/PurdueIEEE/IEEE-Website" target="_blank">https://github.com/PurdueIEEE/IEEE-Website</a>.
                </div>
                <br>
            </noscript>

            <!-- join_communicate -->
            <div class="container-fluid mt-4 p-5 text-center bg-ieee-40">
                <div class="container-lg">
                    <h2 class="display-4 fw-bold">Connect With Us</h2>
                    <p class="fs-4">Purdue IEEE mainly uses Slack to communicate with its members. Join with a free account today and get started with Purdue IEEE. Slack can be downloaded from the Apple App Store or Google Play Store.</p>
                    <div>
                        <img src="/images/join/slack_logo.svg" alt="Slack Logo" height="100">
                        <p class="fs-5"><a class="link-dark" href="https://purdueieee.slack.com/signup" target="_blank">https://purdueieee.slack.com/signup</a></p>
                    </div>

                    <p class="fs-4 mt-3">We also have a mailing list for updates you can join: just enter your email to stay informed. We will only use your email for club-wide announcements.</p>
                    <form class="container-lg mx-auto text-start bg-light p-3 rounded" v-on:submit.prevent="submitEmail">
                        <div class="mb-3 mx-auto col-md-6">
                            <label for="emailSubmit" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="emailSubmit" aria-describedby="emailHelp" required placeholder="user@example.com" v-model.trim="mailinglistEmail" autocomplete="email">
                            <div id="emailHelp" class="form-text" v-on:>Enter your email to join the IEEE mailing list.</div>
                            <button type="submit" class="btn btn-success mt-3">Submit</button>
                        </div>
                        <div class="mt-3 mb-1 text-success text-center" v-if="mailinglistSubmitGood">
                            {{mailinglistSubmitGoodMsg}}
                        </div>
                        <div class="mt-3 mb-1 text-danger text-center" v-if="mailinglistSubmitFail">
                            {{mailinglistSubmitFailMsg}}
                        </div>
                    </form>
                </div>
            </div>
            <!-- /join_communicate -->
            <!-- join_dues -->
            <div class="container-lg my-4" id="dues">
                <h2 class="display-4 text-center">Dues</h2>
                <p class="fs-5">
                    Purdue IEEE Student Branch requires payment of dues for membership<sup class="fw-bold">1</sup>. Payment of annual dues gives access to IEEE resources, such as:
                </p>
                <ul>
                    <li>Access to extras at Learning Events by Learning Committee</li>
                    <li>Trip expense coverage for committee competitions and social events</li>
                    <li>Free food at General Assemblies</li>
                    <li>Recognition for contributed work with final projects</li>
                </ul>
                <p class="fs-5">Annual dues for the 2021-22 academic year are <span class="fw-bold">$15</span>.</p>
                <p class="fs-5">This year, you can choose to either pay with physical cash or pay digitally. To pay with physical cash, please go to BHEE 014, and leave your email and dues with a Treasurer-authorized attendant or IEEE officer inside the office. There are two options for paying digitally: Venmo or Paypal. For security reasons, we have pinned guidance on how to do this in the #IEEE channel in our <a href="https://purdueieee.slack.com" target="_blank" class="link-secondary">Slack</a>. </p>
                <p class="fs-5">Upon paying dues, you will receive a link that leads to a 1-minute survey. Filling out the requested information in the survey will officially register you in our membership database. Please contact the Treasurer at <a href="mailto:ieee-treas@purdueieee.org" class="link-secondary">IEEE-Treas@purdueieee.org</a> if you have any dues-related questions.</p>
                <p><sup class="fw-bold">1</sup>If you are a graduate student with an active International IEEE Membership and wish to join the Purdue Student Branch, you are <span class="fw-bold">exempt</span> from the local dues! Please contact a Purdue IEEE officer to complete registration.</p>
            </div>
            <!-- /join_dues -->
        </main>

       <ieee-footer></ieee-footer>
    </div>

    <script src="/assets/join.js"></script>
    </body>
</html>
