/* Couple of extra classes to avoid in-line styles */
.purdue-text {
    color: #CFB991;
}
.react-text {
    color: #61DBFB;
}

.poke-text {
    color: #ee1515;
}

.firebase-text {
    color: #FF5733;
}

.circle-img-frame {
    border-radius: 50%;
}

.extra-rounded {
    border-radius: 3rem;
}

.mentor-page {
    border-radius: 3rem;
    max-width: 100%;
}
@media (min-width: 576px) {
    .mentor-page {
        border-radius: 3rem;
        max-width: 576px;
    }

    .sponsor-logo {
        width: 50%;
    }
}

.para-width {
    max-width: 50rem;
}

.sponsor-logo {
    width: 75%;
}

/* animation */
.fade-in-top {
    opacity: 0;
    transform: translateY(5%);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}
.fade-in-top.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(5%);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}
.fade-in-left.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.fade-in-right {
    opacity: 0;
    transform: translateX(-5%);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}
.fade-in-right.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

